
/* fontAwesome */
@use "@fortawesome/fontawesome-free/css/all.min.css";


//VARIABLES (bootstrap)
@use "bootstrap/scss/bootstrap" with (
  
$primary: rgb(115, 255, 0),
  $secondary: blue,

  /*   
  $success:     variables.$success_color,
  $info:     variables.$info_color,
  $warning:     variables.$warning_color,
  $danger:     variables.$danger_color,
  $light:     variables.$light_color,
  $dark:     variables.$dark_color, */

)