/* fontAwesome */
@use "@fortawesome/fontawesome-free/css/all.min.css";

//VARIABLES (bootstrap)
$primary_color: rgb(255, 102, 0);
$secondary_color: rgba(255, 255, 255, 0.1);
$success_color: rgb(131, 245, 175);
$info_color: rgb(153, 72, 146);
$warning_color: rgb(255, 55, 98);
$danger_color: rgb(2, 189, 101);
$light_color: rgb(255, 255, 255);
$dark_color: #161623;

@use "bootstrap/scss/bootstrap" with ($primary: rgb(115, 255, 0),
  $secondary: blue,

  /*   
  $success:     $success_color,
  $info:     $info_color,
  $warning:     $warning_color,
  $danger:     $danger_color,
  $light:     $light_color,
  $dark:     $dark_color, */

);



body {
  background-image: url(/bg.jpg);
  color: $light_color;
  font-family: 'Roboto', sans-serif;
}

.container {
  .card {
    position: relative;
    box-shadow: 20px 20px 50px (0, 0, 0, 0.5);
    z-index: 1;
    background-color: rgba($light_color, $alpha: 0.1);
    border-top: 1px solid rgba($light_color, $alpha: 0.5);
    border-left: 1px solid rgba($light_color, $alpha: 0.5);
    backdrop-filter: blur(5px);

    .content {
      transition: .5s;

      .id {
        color: rgba($light_color, $alpha: 0.2);
        transform: scale(350%) translateX(25px)translateY(6px);
        pointer-events: none
      }

      h3 {padding-top: 100px;}


      .rating-container {
        background: -webkit-linear-gradient(0deg, rgba(247, 0, 0, 1) 0%, rgba(255, 201, 0, 1) 50%, rgba(5, 249, 8, 1) 100%);

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid rgb(0, 0, 0);
        height: 25px;

      }

      .rating-solid-star {
        border: 1px solid red;
        overflow: hidden;
        z-index: 10;
        height: 100%;



        border: 1px solid rgb(0, 0, 0);
        height: 25px;


      }

      .rating-regular-star {
        border: 1px solid rgb(76, 0, 255);
        overflow: hidden;
        z-index: 10;
        height: 100%;
        border: 1px solid rgb(0, 0, 0);
        height: 25px;
      }







    }

  }
}

;

.col * {
  /*   border: 1px solid greenyellow; */

}